<a href="https://colab.research.google.com/github/KuntumallaJayashree/pyspark/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=0d3728c903b7d09fd11ec0bee2baf093c2862297a920f65d580e4959268f3ff6
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [3]:
import pyspark

whenever we are starting a pyspark we need to start a spark session

In [4]:
from pyspark.sql import SparkSession

In [5]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

In [6]:
spark

In [7]:
df = spark.read.option("header","true").csv("pyspark.csv",inferSchema=True)

In [8]:
df.show()

+---------+----+----+------+
|     Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
|     jaga|  36|NULL|  NULL|
+---------+----+----+------+

In [9]:
df.head(5)

[Row(Name='Krish', Age=31, Exp=10, salary=100),
 Row(Name='Sudhanshu', Age=30, Exp=5, salary=120),
 Row(Name='Sunny', Age=29, Exp=9, salary=70),
 Row(Name='jaya', Age=None, Exp=None, salary=50),
 Row(Name=None, Age=20, Exp=10, salary=38)]

In [10]:
#df.info()-in pandas
df.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Exp: integer (nullable = true)
 |-- salary: integer (nullable = true)

In [11]:
type(df)

pyspark.sql.dataframe.DataFrame

In [12]:
df.head(5)

[Row(Name='Krish', Age=31, Exp=10, salary=100),
 Row(Name='Sudhanshu', Age=30, Exp=5, salary=120),
 Row(Name='Sunny', Age=29, Exp=9, salary=70),
 Row(Name='jaya', Age=None, Exp=None, salary=50),
 Row(Name=None, Age=20, Exp=10, salary=38)]

In [13]:
df.tail(1)

[Row(Name='jaga', Age=36, Exp=None, salary=None)]

In [14]:
df.select(["Name","Exp"]).show()

+---------+----+
|     Name| Exp|
+---------+----+
|    Krish|  10|
|Sudhanshu|   5|
|    Sunny|   9|
|     jaya|NULL|
|     NULL|  10|
|     jaga|NULL|
+---------+----+

In [15]:
df['Name']

Column<'Name'>

In [16]:
df.dtypes

[('Name', 'string'), ('Age', 'int'), ('Exp', 'int'), ('salary', 'int')]

In [17]:
df.describe()

DataFrame[summary: string, Name: string, Age: string, Exp: string, salary: string]

In [18]:
df.describe().show()

+-------+-----+-----------------+------------------+------------------+
|summary| Name|              Age|               Exp|            salary|
+-------+-----+-----------------+------------------+------------------+
|  count|    5|                5|                 4|                 5|
|   mean| NULL|             29.2|               8.5|              75.6|
| stddev| NULL|5.805170109479997|2.3804761428476167|34.158454297582026|
|    min|Krish|               20|                 5|                38|
|    max| jaya|               36|                10|               120|
+-------+-----+-----------------+------------------+------------------+

In [19]:
## adding columns into dataframe
df =df.withColumn("Exp after 2 years",df['Exp']+2)

In [20]:
df.show()

+---------+----+----+------+-----------------+
|     Name| Age| Exp|salary|Exp after 2 years|
+---------+----+----+------+-----------------+
|    Krish|  31|  10|   100|               12|
|Sudhanshu|  30|   5|   120|                7|
|    Sunny|  29|   9|    70|               11|
|     jaya|NULL|NULL|    50|             NULL|
|     NULL|  20|  10|    38|               12|
|     jaga|  36|NULL|  NULL|             NULL|
+---------+----+----+------+-----------------+

In [21]:
## dro columns into dataframe
df = df.drop("Exp after 2 years")

In [22]:
df.show()

+---------+----+----+------+
|     Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
|     jaga|  36|NULL|  NULL|
+---------+----+----+------+

In [23]:
##Rename column
df =df.withColumnRenamed("Name","New_Name")

In [24]:
df.show()

+---------+----+----+------+
| New_Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
|     jaga|  36|NULL|  NULL|
+---------+----+----+------+

Pyspark Handling Missing Values
Dropping Columns
Dropping Rows
Various Parameter In Dropping functionalities
Handling Missing values by Mean, MEdian And Mode

In [25]:
df.drop("New_Name").show()

+----+----+------+
| Age| Exp|salary|
+----+----+------+
|  31|  10|   100|
|  30|   5|   120|
|  29|   9|    70|
|NULL|NULL|    50|
|  20|  10|    38|
|  36|NULL|  NULL|
+----+----+------+

In [26]:
df.na.drop().show()

+---------+---+---+------+
| New_Name|Age|Exp|salary|
+---------+---+---+------+
|    Krish| 31| 10|   100|
|Sudhanshu| 30|  5|   120|
|    Sunny| 29|  9|    70|
+---------+---+---+------+

In [28]:
##how=any
df.na.drop(how='any').show()

+---------+---+---+------+
| New_Name|Age|Exp|salary|
+---------+---+---+------+
|    Krish| 31| 10|   100|
|Sudhanshu| 30|  5|   120|
|    Sunny| 29|  9|    70|
+---------+---+---+------+

In [29]:
##how=all
df.na.drop(how='all').show()

+---------+----+----+------+
| New_Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
|     jaga|  36|NULL|  NULL|
+---------+----+----+------+

In [34]:
##threshold
df.na.drop(how='any',thresh=1).show()

+---------+----+----+------+
| New_Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
|     jaga|  36|NULL|  NULL|
+---------+----+----+------+

In [35]:
##threshold
df.na.drop(how='any',subset=['age']).show()

+---------+---+----+------+
| New_Name|Age| Exp|salary|
+---------+---+----+------+
|    Krish| 31|  10|   100|
|Sudhanshu| 30|   5|   120|
|    Sunny| 29|   9|    70|
|     NULL| 20|  10|    38|
|     jaga| 36|NULL|  NULL|
+---------+---+----+------+

In [44]:
df.na.fill("missing values",['New_Name']).show()

+--------------+----+----+------+
|      New_Name| Age| Exp|salary|
+--------------+----+----+------+
|         Krish|  31|  10|   100|
|     Sudhanshu|  30|   5|   120|
|         Sunny|  29|   9|    70|
|          jaya|NULL|NULL|    50|
|missing values|  20|  10|    38|
|          jaga|  36|NULL|  NULL|
+--------------+----+----+------+

In [47]:
from pyspark.ml.feature import Imputer
imputer = Imputer(inputCols=['Age',"Exp","salary"],
                  outputCols=["{}_imputed".format(c) for c in ['Age','Exp','salary']]).setStrategy("mean")

In [48]:
imputer.fit(df).transform(df).show()

+---------+----+----+------+-----------+-----------+--------------+
| New_Name| Age| Exp|salary|Age_imputed|Exp_imputed|salary_imputed|
+---------+----+----+------+-----------+-----------+--------------+
|    Krish|  31|  10|   100|         31|         10|           100|
|Sudhanshu|  30|   5|   120|         30|          5|           120|
|    Sunny|  29|   9|    70|         29|          9|            70|
|     jaya|NULL|NULL|    50|         29|          8|            50|
|     NULL|  20|  10|    38|         20|         10|            38|
|     jaga|  36|NULL|  NULL|         36|          8|            75|
+---------+----+----+------+-----------+-----------+--------------+

In [49]:
##filter operations
df.filter("salary<50").show()

+--------+---+---+------+
|New_Name|Age|Exp|salary|
+--------+---+---+------+
|    NULL| 20| 10|    38|
+--------+---+---+------+

In [50]:
df.filter("Salary<=50").select(['New_Name','Age']).show()

+--------+----+
|New_Name| Age|
+--------+----+
|    jaya|NULL|
|    NULL|  20|
+--------+----+

In [51]:
df.filter(df['Age']<25).show()

+--------+---+---+------+
|New_Name|Age|Exp|salary|
+--------+---+---+------+
|    NULL| 20| 10|    38|
+--------+---+---+------+

In [52]:
## OR operator
df.filter((df['salary']<=50) |
                  (df['salary']>=10)).show()

+---------+----+----+------+
| New_Name| Age| Exp|salary|
+---------+----+----+------+
|    Krish|  31|  10|   100|
|Sudhanshu|  30|   5|   120|
|    Sunny|  29|   9|    70|
|     jaya|NULL|NULL|    50|
|     NULL|  20|  10|    38|
+---------+----+----+------+

In [55]:
##not operator
df.filter(~(df['salary']<=50)).show()

+---------+---+---+------+
| New_Name|Age|Exp|salary|
+---------+---+---+------+
|    Krish| 31| 10|   100|
|Sudhanshu| 30|  5|   120|
|    Sunny| 29|  9|    70|
+---------+---+---+------+

In [57]:
## Groupby
### Grouped to find the maximum salary
df.groupBy('New_Name').sum().show()

+---------+--------+--------+-----------+
| New_Name|sum(Age)|sum(Exp)|sum(salary)|
+---------+--------+--------+-----------+
|     NULL|      20|      10|         38|
|Sudhanshu|      30|       5|        120|
|     jaya|    NULL|    NULL|         50|
|    Sunny|      29|       9|         70|
|    Krish|      31|      10|        100|
|     jaga|      36|    NULL|       NULL|
+---------+--------+--------+-----------+

In [58]:
df3 = spark.read.option("header","true").csv("test3.csv",inferSchema=True)

In [59]:
df3.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [60]:
df3.groupBy('Name').sum().show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

In [61]:
df3.groupBy("Name").avg().show()

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

In [62]:
### Groupby Departmernts  which gives maximum salary
df3.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [64]:
df3.groupBy("Departments").mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [65]:
df3.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [66]:
df3.agg({"salary":'sum'}).show()

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+

In [68]:
df1 = spark.read.option("header","true").csv("test1.csv",inferSchema=True)

In [69]:
df1.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [71]:
from pyspark.ml.feature import VectorAssembler
featureassembler = VectorAssembler(inputCols=['age','Experience'],outputCol="Independent Features")

In [72]:
output=featureassembler.transform(df1)

In [73]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [74]:
finalized_data=output.select("Independent Features","Salary")

In [75]:

finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [76]:
from pyspark.ml.regression import LinearRegression

In [77]:
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [78]:

### Coefficients
regressor.coefficients

DenseVector([-383.9733, 1711.1853])

In [79]:
### Intercepts
regressor.intercept

23998.330550919745

In [80]:

### Prediction
pred_results=regressor.evaluate(test_data)

In [81]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,1.0]| 15000|17646.076794657987|
|          [23.0,2.0]| 18000|18589.315525876606|
+--------------------+------+------------------+

In [82]:

pred_results.meanAbsoluteError,pred_results.meanSquaredError

(1617.6961602672964, 3674507.596133353)